

.main{

  @apply flex
  justify-center
   items-center
  flex-col
  text-center
  h-screen
  } 

body{
  
  @apply bg-orange-300

}


.modal{
 @apply bg-slate-50
 text-neutral-900
text-xl
flex
justify-center
flex-col


  
}
.register{
  
  @apply flex justify-center items-center flex-col
}
h2{
  @apply m-7
 
}
.templates{

  @apply flex justify-center items-center flex-col gap-10
}
 



.button{
@apply flex justify-center items-center  bg-orange-300
h-16
w-48



} 

input{
  width: 250px;
  height: 25px;
  border-radius: 10px;
  border-color: white;
  
}